# copy .env.example to .env and replace the value with your actual bot token


# Your Telegram Bot Token
# You can get it from @BotFather on Telegram
# Replace the value below with your actual bot token
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"

# Your Telegram Admin User ID
# This is the user ID of the admin who will manage the bot
# Replace the value below with your actual admin user ID
# You can find your user ID by sending a message to @userinfobot on Telegram
# Make sure to keep the quotes around the user ID
ADMIN_USER_ID="YOUR_ADMIN_USER_ID"


